<!--- Esta es la forma de decir que  a partir de aquí va a remplazar el bloque del layout-->
{% extends "hello/layout.html" %}

<!--- Comenzamos con el bloque que remplaza...-->
{% block body %}
    <form action="{% url 'primer_proyecto:añadir' %}" method="post">
        {% csrf_token %}

        <h2>Este formulario es bueno, es el de DJANGO</h2>
        <fieldset><legend>Listado de tareas</legend>
            {{ form }}
            <br><input type="submit" value="enviar">
        </fieldset>


            <h3>Este formulario no va a funcionar, ya que está en HTML</h3>
            <input type="text" name="tareas">
        
    </form>

    <a href="{% url 'primer_proyecto:index' %}"> Home </a>
    <a href="{% url 'primer_proyecto:lista' %}"> Mi Lista </a>


 

{% endblock %}
<!--- Y aquí acaba el bloque-->