{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <link href="{% static 'hello/style.css' %}" rel="stylesheet" >
    <title>Document</title>
</head>

<body>
    
    <h2>¿Es año nuevo?</h2>

    <div>
        {% if newyear %}
            <h3> Sí </h3>
        {% else %}
            <h3> No </h3>
        {% endif %}
    </div>


    <header>
        <!--- Comenzamos creando un menú a partir de una lista-->
        <ul class="menu">
            <a href="#about">
                <li>Quién soy</li>
            </a>
            <a href="#skills"> 
                <li>Habilidades</li> 
            </a>
            <li>Competencias</li>
            <li>Experiencia</li>
            <li>Formación</li>
            <li>Contacto</li>
        </ul>
    </header>


    <div clas="cabecera">
        
        
        <img class ="dibujo" src="{% static 'hello/img/hello.svg' %}">
       

        <div class="presentacion">
            <h3> HELLO!</h3>
            <h2>I’m Javier Zamora</h2>
            <h3>Aspiring Developer & Web Designer</h3>

            <ul class="rrss">
                <a href="https://github.com/fjzamora93" target="_blank">
                    <li><img src="icon/github.png" alt="rrss"></li>
                </a>
                   
                <a href="https://www.linkedin.com/in/fjzamora/" target="_blank">
                    <li><img src="icon/logotipo-de-linkedin.png" alt="rrss"></li>
                </a>
                    
                <a href="https://www.instagram.com/elgatobarista/">
                    <li><img src="icon/logo-instagram.png" alt="rrss"></li>
                </a>
            </ul>
        </div>

        
    </div>

    <div id="about">
        
        <h2>About me...</h2>
        <div class="presentacion"> 
            Una vez escuché eso de si creía que la Inteligencia Artificial pondría fin a nuestra creatividad. 
            Puede que sea así, quizás me tiente la idea de averiguarlo.
             Mientras tanto, sigamos explorando con la inventiva humana.
      
            <br><br>Más allá de la programación como un trabajo, creo en esto como un modo de vida. 
            Sé que muchos de los adictos a las infinitas líneas de código lo pueden entender: 
            conseguir que cada proceso, cada interacción acabe cobrando vida.
       
            <br><br>Actualmente, me sigo formando como desarrollador, con bastante interés en la Inteligencia Artificial 
            y el análisis de datos (aunque mentiría si digo que no me gusta el diseño). ¿Mi filosofía?

            <br><br>"Simple is better than complex.
            <br>Complex is better than complicated.
            <br>In the face of ambiguity, refuse the temptation to guess."
            <br>---Zen of Python. 

        </div>
        <image class ="dibujo" src="img/avatar.png">


    </div>

    <div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <div id="skills">
        Esto son mis habilidades o skills
    </div>
    

</body>
</html>