<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="estilos.css" type="text/css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <!--- Comenzamos creando un menú a partir de una lista-->
        <ul class="menu">
            <a href="#about">
                <li>{{ nombre }}</li>
            </a>
            <a href="#skills"> 
                <li>Habilidades</li> 
            </a>
          
        </ul>
    </header>


    <div clas="cabecera">
        
        <image class ="dibujo" src="img/hello.svg">
    
        <div class="presentacion">
            <h3> HELLO! Esta es la página del RENDERRR</h3>
            <h2>I’m Javier Zamora</h2>
            <h3>Aspiring Developer & Web Designer</h3>
        </div>
    
        <ul>
            {% for tarea in tareas %}
                <li>{{ tarea }}</li>
            {% endfor %}

        </ul>


    </div>

</body>
</html>